@tailwind base;
@tailwind components;
@tailwind utilities;

.boxShadow {
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.08);
}

.boxShadowTwo{
    box-shadow: 0px 12px 32px 0px rgba(0, 0, 0, 0.12);

}

.displayNone {
  display: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.noScroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.noScroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}